@page "{id:int}"
@model FE_RazorPage.Pages.Admin.Doctors.DeleteModel
@{
ViewData["Title"] = "Xóa bác sĩ";
}

<h2>Bạn có chắc chắn muốn xóa bác sĩ?</h2>

<form method="post">
    <button type="submit" class="btn btn-danger">Xác nhận xóa</button>
    <a asp-page="Index" class="btn btn-secondary">Hủy</a>
</form>